orchestration/flows/main_zoomcamp_ingest_dunnhumby_retail.yml
id: ingest_dunnhumby_retail
namespace: zoomcamp

description: Download the Dunnhumby dataset and upload raw CSV files to GCS

variables:
  bucket: "{{ kv('GCP_BUCKET_NAME') }}"
  tables:
    - campaign_desc
    - campaign_table
    - causal_data
    - coupon
    - coupon_redempt
    - hh_demographic
    - product
    - transaction_data

tasks:
  - id: extract
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    containerImage: python:3.11-slim
    outputFiles:
      - "*.csv"
    commands:
      - |
        echo "--- Installing dependencies ---"
        apt-get update
        apt-get install -y wget unzip

        echo "--- Downloading dataset ---"
        wget -O dunnhumby.zip \
          https://www.kaggle.com/api/v1/datasets/download/frtgnn/dunnhumby-the-complete-journey

        echo "--- Extracting files ---"
        unzip dunnhumby.zip

        echo "--- Listing extracted files ---"
        ls -lah

  - id: upload_to_gcs
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ vars.tables }}"
    tasks:
      - id: upload
        type: io.kestra.plugin.gcp.gcs.Upload
        from: "{{ outputs.extract.outputFiles[taskrun.value ~ '.csv'] }}"
        to: "gs://{{ vars.bucket }}/bronze/{{ taskrun.value }}.csv"

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{ secret('GCP_SERVICE_ACCOUNT') }}"
      projectId: "{{ kv('GCP_PROJECT_ID') }}"
      location: "{{ kv('GCP_LOCATION') }}"
